.home {
  background: #000;
  /* background: linear-gradient(270deg, #087aff 38.5%, #a3ffe3 98.16%); */
  max-width: 375px;
}

.main-title {
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.5;
}

p {
  margin-bottom: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.name {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

.avatar-header {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("src/assets/images/eclipse.png");
  /* background-color: rgb(255, 6, 234); */
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
