<div class="row m-0 user-card mt-2 mb-2 gradient-bg gradient-bg-green">
  <div
    class="col-2 justify-content-center align-items-center"
    style="background: url('assets/images/blur.png') no-repeat"
  >
    <p class="number">1<sup style="vertical-align: 0ex">st</sup></p>
    <img style="margin-top: 17px" src="assets/images/hexagon-2.svg" alt="" />
  </div>
  <div class="col-10 justify-content-center align-items-center">
    <p style="margin-top: 8px; margin-bottom: 4px" class="font-16">
      Roger Korsgaard <img src="assets/images/check.svg" alt="" />
    </p>
    <div class="d-flex align-items-center">
      <div class="m-10">
        <p class="font-14">20</p>
        <p class="font-10">Alerts</p>
      </div>
      <div class="m-10">
        <p class="font-14">85%</p>
        <p class="font-10">Win Rate</p>
      </div>
      <div>
        <p class="font-14">11</p>
        <p class="font-10">Yield</p>
      </div>
      <div
        style="margin-left: 30px"
        class="d-flex justify-content-end align-items-center"
      >
        <div class="green">
          <p class="font-14 green">+ $7,500</p>
          <p style="text-align: end" class="font-10 green">45%</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Other cards below are just addded to showcase different styles. In this component
file there will only be one user card template, and the styles and data will change
dynamically based on info coming from API -->

<div class="row m-0 user-card mt-2 mb-2 gradient-bg gradient-bg-green">
  <div
    class="col-2 justify-content-center align-items-center"
    style="background: url('assets/images/blur-2.png') no-repeat"
  >
    <p class="number">1<sup style="vertical-align: 0ex">st</sup></p>
    <img style="margin-top: 17px" src="assets/images/hexagon.svg" alt="" />
  </div>
  <div class="col-10 justify-content-center align-items-center">
    <p style="margin-top: 8px; margin-bottom: 4px" class="font-16">
      Charlie Herwitz <img src="assets/images/check.svg" alt="" />
    </p>
    <div class="d-flex align-items-center">
      <div class="m-10">
        <p class="font-14">20</p>
        <p class="font-10">Alerts</p>
      </div>
      <div class="m-10">
        <p class="font-14">85%</p>
        <p class="font-10">Win Rate</p>
      </div>
      <div>
        <p class="font-14">11</p>
        <p class="font-10">Yield</p>
      </div>
      <div
        style="margin-left: 30px"
        class="d-flex justify-content-end align-items-center"
      >
        <div>
          <p class="font-14 green">+ $1,430</p>
          <p style="text-align: end" class="font-10 green">25%</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-0 user-card mt-2 mb-2 gradient-bg">
  <div
    class="col-2 justify-content-center align-items-center"
    style="background: url('assets/images/blur-3.png') no-repeat"
  >
    <p class="number">1<sup style="vertical-align: 0ex">st</sup></p>
    <img style="margin-top: 17px" src="assets/images/hexagon-1.svg" alt="" />
  </div>
  <div class="col-10 justify-content-center align-items-center">
    <p style="margin-top: 8px; margin-bottom: 4px" class="font-16">
      Ahmad Mango
    </p>
    <div class="d-flex align-items-center">
      <div class="m-10">
        <p class="font-14">20</p>
        <p class="font-10">Alerts</p>
      </div>
      <div class="m-10">
        <p class="font-14">85%</p>
        <p class="font-10">Win Rate</p>
      </div>
      <div>
        <p class="font-14">11</p>
        <p class="font-10">Yield</p>
      </div>
      <div
        style="margin-left: 30px"
        class="d-flex justify-content-end align-items-center"
      >
        <div class="red">
          <p class="font-14 red">- $1,500</p>
          <p style="text-align: end" class="font-10 red">10%</p>
        </div>
      </div>
    </div>
  </div>
</div>
