<div class="row m-0 user-card mt-2 mb-2 gradient-bg">
  <div
    class="col-2 justify-content-center align-items-center"
    style="background: url('assets/images/blur.png') no-repeat"
  >
    <p class="number">1<sup style="vertical-align: 0ex;">st</sup></p>
    <img style="margin-top: 17px;" src="assets/images/hexagon.svg" alt="" />
  </div>
  <div class="col-10 justify-content-center align-items-center">
    <p style="margin-top: 8px; margin-bottom: 4px;" class="font-16">
      Alteo Caka <img src="assets/images/check.svg" alt="" />
    </p>
    <div class="d-flex align-items-center mr-3">
      <div class="m-10">
        <p class="font-14">20</p>
        <p class="font-10">Alerts</p>
      </div>
      <div class="m-10">
        <p class="font-14">85%</p>
        <p class="font-10">Win Rate</p>
      </div>
      <div>
        <p class="font-14">11</p>
        <p class="font-10">Yield</p>
      </div>
      <div
        style="margin-left: 30px"
        class="d-flex justify-content-end align-items-center"
      >
        <div class="red">
          <p class="font-14 red">+ $1,430</p>
          <p style="text-align: end" class="font-10 red">25%</p>
        </div>
      </div>
    </div>
  </div>
</div>
