/* User Card Styles */
.user-card {
  width: 303px;
  height: 77px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.gradient-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 111, 111, 0) 0%, #ff6f6f 100%);
  border-radius: 8px;
  z-index: -1;
  opacity: 0.15;
  transition: background 0.9s ease;
}

.gradient-bg:hover::before {
  background: linear-gradient(90deg, rgba(129, 237, 186, 0.00) 0%, #54FFAE 100%);
}

/* Paragraph Styles */
p {
  color: #fff;
  font-family: Poppins;
  margin-bottom: 0;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-10 {
  font-size: 10px;
  opacity: 0.5;
}

/* Red Text Styles */
.red {
  color: #ff6f6f !important;
  text-align: right;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  opacity: 1;
}

/* Margin Styles */
.m-10 {
  margin-right: 10px;
}

/* Padding Styles */
.pl-13 {
  padding-left: 13px !important;
}

/* Number Styles */
.number {
  position: fixed;
  top: 42%;
  left: 5%;
  color: #0b254d;
  font-family: Poppins;
  font-size: 33px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.32px;
  opacity: 0.2;
}
